$color: red;
$background: #030608;
$background-grey: rgb(40, 40, 41);
$background-beige: rgb(66, 62, 60);

$beige: rgb(97, 93, 92);
$bright: rgb(192, 184, 178);
$hover-select: rgb(175, 131, 97);
$font-color: #fff;


.container{
    padding: 20px 5px;
    max-width: 1200px;
    margin: 0 auto;
}

.img-subtitle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    p{
        font-size: 16px;
        margin-top: 5px;
        opacity: 0.8;
        text-align: center;
    }
}