@font-face {
  font-family:'Burford';
  src: url('/src/assets/font/Burford_Line.otf') format('opentype');
}
@font-face {
  font-family:'Playfair Display';
  src: url('/src/assets/font/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family:'ShadowsIntoLight';
  src: url('/src/assets/font/ShadowsIntoLight-Regular.ttf') format('truetype');;
}

*{
  margin: 0;
}

p{
  font-size: 20pt;
  color: white;
  margin: 20px;
  line-height: 130%;
  max-width: 800px;
  font-family: 'Burford', sans-serif;
  font-weight: 100;
}


button.primary{
  background-color: #BDFCFF00;
  color: white;
  border: 0.3px solid white;
  padding: 15px 25px;
  border-radius: 50px;
  font-size: 18pt;
  font-family: 'Burford', sans-serif;
  cursor: pointer;
  transition: 0.3s;
  margin: 20px auto;
}
button.primary:hover{
  background-color: #BDFCFF20;
  padding: 15px 30px;

}

h1{        
  padding-top: 40px;
  color: white;
  font-size: calc(100vh*0.07);
  font-weight: 700;
  line-height: 85%;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Playfair Display', sans-serif;

}

h2{
  font-size: 25pt;
  color: white;
  margin: 20px;
  line-height: 100%;
  text-align: center;
  max-width: 800px;
  font-family: 'Burford', sans-serif;
  font-weight: 900;
}

h3{        
  padding-top: 30px;
  color: white;
  font-size: calc(100vh*0.023);
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Playfair Display', sans-serif;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
